<header>
    <nav class="navbar user-navbar bg-body-tertiary p-0">
        <div class="container-fluid d-flex justify-content-center align-items-middle "
            style="background-color: #1F485B;"> <!-- Align the image to the left -->
            <a class="navbar-brand pt-4">
                <img src="" style="max-height: 70px;" alt="">
            </a>
        </div>
    </nav>
</header>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">

            <h2 class="text-center">Varify Email</h2>
            <form action="#" method="POST">

                {{#if err}}
                <p class="error">Invalid Email</p>
                {{/if}}

                <div class="form-group mb-3">

                    <input type="email" class="form-control" name="Email" placeholder="Enter Email">
                </div>

                <a href=""></a>
                <button type="submit" class="btn btn-warning px-5 py-2 ">Varify</button>
            </form>

            <a href="" class="">Resend OTP?</a>

        </div>
    </div>
</div>