<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid ">
        <!-- Logo on the left -->
        <a class="navbar-brand" href="#">
            <img src="your-logo.png" alt="Logo" width="50">
        </a>
        <!-- toggle button for mobile nav -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbat-toggler-icon"></span>

        </button>

        <!-- Centered navigation links   -->
        <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">


            <!-- Right-aligned elements -->
            <div class="d-flex flex-column ml-auto">
                <!-- Wishlist, Cart, and User icons (you can customize these icons) -->
                <div class="d-flex">
                    <a href="#" class="nav-link">
                        <i class="fas fa-user"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>