<div class="main-navbar shadow-sm sticky-top">
    <div class="top-navbar">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <img src="\images\logo.png" alt="logo" style="width: 10rem;">
            </div>      
        </div>
    </div>              
</div>
