<%- include ('./layouts/header') %>
    <%- include ('./partials/plainHeader') %>



        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header bg-dark">
                            <h3 class="text-center text-white">OTP Verification</h3>
                        </div>
                        <%if(message){%>

                            <div>
                                <span class="text-danger">
                                    <%=message.otpError %>
                                </span>
                            </div>
                            <%}%>
                        <div class="card-body">
                            <form action="/otpverification" method="post">
                                <div class="form-group text-center">
                                    <label for="otp"></label>
                                    <input type="text" class="form-control" id="otp" placeholder="Enter OTP" name="otp"
                                        required>
                                </div>
                                <button type="submit" class="btn btn-primary btn-dark mt-2"
                                    style="margin-left: 40%;">Verify OTP</button>
                            </form>
                        </div>

                        <div class="card-footer text-muted bg-dark">
                            <div class="d-flex justify-content-center">
                                <p class="text-white">OTP will be expired in :
                                <p class="text-danger" id="timer"></p>
                                </p>
                            </div>
                            <div style="display: none;" id="resendOTP">
                                <p class="text-center text-white">Didn't receive OTP? <a href="/resendOtp">Resend
                                        OTP</a></p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Add Bootstrap JS and jQuery CDN (for handling button click) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




        <%- include ('./layouts/footer') %>